
<section class="container content-section text-center">
    <div class="row">
      <div class="col-lg-12">
        <h2>Ønskeliste</h2>
        <p>
            Hos kitchn: <a href="https://www.kitchn.no/onskeliste/131668">Ønskeliste</a>
        </p>
        <p>
            Utover dette blir bidrag til bryllupsreise godt mottatt. De som har mulighet blir oppfordret til å levere gave på forhånd, da valg av festlokale byr på logistikkutfordringer. Gaver som blir levert på forhånd blir fotografert og utstilt i lokalet.
      </div>
    </div>
  </section>